body {
margin: 0px;
padding: 0rem;
font: Helvetica;
font-family: 'Josefin Sans', sans-serif;
}


.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 1%;
  padding-top: 1%;
  background-color: black;
  color: white;
  height: 5%;
}

.header{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* background-color: black; */
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 98%;
  height: 10%;
  border-bottom: 5px solid black;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);

}

.header a{
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
  padding: 0 2em;
}

.header a:hover {
  color: red;
}

.header .active{
   color: white;
}

.notbutton {
  float: right;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 2 2px;
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
}

.left {
  float: left;
}

.main {
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 85%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  height: 40vh;
  margin: 2em;
  padding-left: 2em;
  text-align: left;
  background-color: red;
}

.bio {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 85%;
}

.picture {

}

.sharing {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 2px 2px 2px 2px;
  padding: 2px;
}
