body {
margin: 0px;
padding: 0rem;
font: Helvetica;
font-family: 'Josefin Sans', sans-serif;
}

ul, li {
  list-style-type: none;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 1.1px -1.1px #3e3e3e, 1.5px -1.5px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

.footer{
  position: fixed;
  /* position: relative */
  bottom: 0;
  width: 100%;
  padding-left: 1%;
  padding-bottom: 1%;
  display: grid;
  grid-template-columns: 25% 50% 25%;


  /* background-color: black; */
  background-color: white;
  /* border-top: 1px solid black; */
  background-color: rgba(255, 255, 255, 0);
  height: 10%;
}

.footer-center {
  column: 2;
}

.footer-right {
  padding-top: 10%;
  padding-right: 8%;
  column: 3;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  }

.logo-mini {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 20px;
}

.header{
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  /* background-color: black; */
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 98%;
  height: 10%;
  border-bottom: 5px solid black;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);

}

.header a{
  text-decoration: none;
  color: black;
  font-size: 17px;
  display: inline-flex;
  padding: 0 2em;
}

.header a:hover {
  color: red;
}

.header .active{
   color: white;
}

.navbar {
  list-style-type: none;
}

.hello {
  display: block;
}

.bye {
    display: none;
}

.navbar li {
  text-align: center;
  display: inline-block;
  margin-left: 100px;
}

/* :focus {
  outline: red solid 1 px;
  background-color: black;
} */

.header-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.hamburger {
    display: inline-block;
    width: 40px;
}

.inline {
  display: inline-block;
}

.space {
  padding: 1%;
  margin: 1%;

}

.notbutton {
  float: right;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 2 2px;
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
}

.dramatic {
  height: 100px;
  width: 1000px;
  font-size: 80px;
  text-align: center;
}

.dramatic:hover {
  background-color: #4bcdd6;
}

.notbutton:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	animation: shadow-pop-tr 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: block;
}

.center{
  margin: auto;
  margin-right: 19.5%;
  width: 80%;
}

.delete:hover{
  background-color: red
}

.main {
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 85%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  height: 40vh;
  margin: 2em;
  padding-left: 2em;
  text-align: left;
  background-color: red;
}

.event {
  width: 45%;
  height: auto;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #f7f5f2;
  border-radius: 2%;
  border-style: 10px black solid;
  box-shadow: 2px 4px 10px -8px black
}

.event-wrapper-scaled {
  width: 100%;
  min-height: 500px;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: white;
}

.event-scaled {
  width: 60%;
  height: auto;
  margin: auto;
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 1%;
  background-color: #f7f5f2;
  border-radius: 2%;
  border-style: 10px black solid;
  box-shadow: 2px 4px 10px -8px black
}

.event a, .event-scaled a {
  text-decoration: none;
  color: #2376ae;
  font-weight: bold;
}


.event a:hover, .event-scaled a:hover, .month a:hover {
  text-decoration: underline;
  color: red;
  font-weight: bold;
}

.event-wrapper {
  padding-left: 5%;
  width: 100%;
  min-height: 500px;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: white;
}

.event-wrapper a{
  text-decoration: none;
  line-height: 1.5;
}

.month-wrapper {
  padding-left: 5%;
  width: 100%;
  min-height: 500px;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: white;
}

.month a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #2376ae;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
  color: red;
  font-weight: bold;
}



.margin{
  margin-left: 5%;
}

.bio {
  display: grid;
  grid-template-columns: 20% 5% 75%;
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 100%;
}


.bio-fake {
  font-size: 150%;
  display: grid;
  grid-template-columns: 75% 5% 20%;
  padding: 0rem;
  width: 80%;
  height: 100%;
}

.quote-page {
  font-size: 150%;
  padding: 0rem;
  width: 80%;
  height: 100%;
}

.row-one-hund {
  width: 100%;
}


.column-wide {
  grid-column: 1 / span 3;
}

.image-cropper {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper:hover {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.image-cropper img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-cropper-mini {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper-mini img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.calendartable {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 100%;
}

.calendartable a {
  color: black;
}

.calendartable .active {
  color: red;
}

.space {
  padding: 2px;
  width: 20px;
  height: 20px;
}

.formtable {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 100%;
  grid-gap: 5%;
}

.formtable input {
  font-size: 15px;
  width: 80%;
  overflow: auto;
  border: black 1px solid;
}

.bold {
  font-weight: bold;
}

.textarea {
  height: 300px;
}

.formtable .column {
  padding-left: 2rem;
  padding-bottom: 2rem;
  margin: 2rem;
  background-color: white;
}

.yellow:hover {
  background-color: #4bcdd6;
  box-shadow: 0px 4px 10px -8px black
}

.teal-forever {
  margin-left: 2%;
  padding-left: 2%;
  background-color: #17e89f;
  box-shadow: 0px 4px 10px -8px black
}

.teal:hover {
  background-color: #17e89f;
  box-shadow: 0px 4px 10px -8px black
}

.gradient-one {
    background-image: linear-gradient(335deg, #2376ae 0%, #c16ecf   100%);
}

.gradient-one-mouseon:hover {
    background-image: linear-gradient(335deg, #2376ae 0%, #c16ecf   100%);
}

.gradient-two {
    background-image: linear-gradient(150deg, #17e89f 0%, #59b7cf   30%);
}

.gradient-two-mouseon:hover {
    background-image: linear-gradient(150deg, #17e89f 0%, #59b7cf   30%);
}

.gradient-three {
    background-image: linear-gradient(320deg, #17e89f 0%, #8aed9a   40%);
}

.gradient-three-mouseon:hover {
    background-image: linear-gradient(320deg, #17e89f 0%, #8aed9a   40%);
}

.gradient-four {
    background-image: linear-gradient(320deg, #4bcdd6 0%, #5E8BB2   40%);
}

.gradient-four-mouseon:hover {
    background-image: linear-gradient(320deg, #4bcdd6 0%, #5E8BB2   40%);
}

.gradient-five {
    background-image: linear-gradient(150deg, #4bcdd6 70%, #F2A675   99%);
}

.gradient-five-mouseon:hover {
    background-image: linear-gradient(150deg, #4bcdd6 70%, #F2A675   99%);
}

.sharing {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 2px 2px 2px 2px;
  padding: 2px;
}

.force{
  border: 2px solid black;
  background-image: linear-gradient(300deg, #c16ecf 0%,  #2376ae  100%);
}

.models{
  border: 2px solid black;
  background: #4B79A1;
  background: linear-gradient(#130215, #1b2f4f);
}

.legend{
  position: absolute;
  background-color: white;
  padding-left: 0.5%;
  font-size: 80%;
  line-height: 20%;
  border: 2px solid black;
  width: 130px;
  height: 100px;
  left: 76%;
  top: 43%;
  z-index: 3;
}


.legend-models{
  position: absolute;
  background-color: gray;
  padding-left: 0.5%;
  font-size: 90%;
  line-height: 20%;
  border: 2px solid black;
  width: 135px;
  height: 140px;
  left: 76%;
  top: 140%;
  z-index: 3;
}

.wrapper-about {
  width: 80%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 70% 30%;
  margin-left: 12.5%;
  font-size: 100%;
}

.content-about li {
  list-style-type: square;
}

  .content-about {
    grid-column: 1;
    text-align: justify;
    padding-right: 5%;
    line-height: 150%;
  }

  .footer-about, .header-abour {
    grid-column: 1 / span 2;
    height: 400px;
  }



.wrapper-bio {
  width: 80%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 70% 30%;
  margin-left: 12.5%;
}

@media screen and (min-width: 500px) {

  .wrapper-bio {
    grid-gap: 10px;
    grid-template-columns: 80% 20%;
  }

  .sidebar-bio {
    grid-column: 2;
    color: white;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    border: black 1px solid;
  }

  .sidebar-bio:hover {
    background-image: linear-gradient(150deg,  #2376ae 0%,  #c16ecf 100%);
    /* background-color: #e8a217; */
  }

  .sidebar-bio a {
    color: black;
    text-decoration: none;
  }

  .sidebar-bio a:hover {
    color: #17e89f;
    text-decoration: none;
  }

  .content-bio {
    grid-column: 1;
  }


  .footer-bio, .header-bio {
    grid-column: 1 / span 2;
    height: 400px;
  }

}

.wrapper-bio > * {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  font-size: 80%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

@supports (display: grid) {
  .wrapper-bio > * {
    width: auto;
    margin: 0;
  }
}

.modal{
  min-width: 2000px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
}

.modal-card{
  width: 80%;
}

.infoWindow {
  padding-left: 5%;
  padding-right: 5%;
}

.image-cropper-mini-iw {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper-mini-iw img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.map img {

}


.stroll button {
  width: 300px;
  float: none;
  margin-right: 38%;
}

.popup-overlay {
  background-color: black;
  opacity: 0.6;
}
