body {
margin: 0px;
padding: 0rem;
font-family: sans-serif;
}

.active{
   color:red;
}

.header{
  padding-left: 1%;
  padding-top: 1%;
  background-color: black;
  color: white;
  width: 100%;
  height: 10%;
}

.main {
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 85%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  height: 40vh;
  margin: 2em;
  padding-left: 2em;
  text-align: left;
  background-color: red;
}

.footer{
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-left: 1%;
  padding-top: 1%;
  background-color: black;
  color: white;
  height: 5%;
}

.bio {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 0rem;
  margin: 2rem;
  width: 90%;
  height: 85%;
}

.picture {

}

.sidebar {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 280px;
  background: white;
  padding: 20px;
  font-size: 15px;
}

.sidebar-toggle {
  position: absolute;
  margin: 20px;
  color: #a0a0a0;
  z-index: 100;
  font-size: 1.5em;
  cursor: pointer;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-avatar {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 3em !important;
}

.middle .ant-form-item-control {
  display: flex;
  justify-content: center;
}

.sidebar .ant-form-item {
  margin: 0;
}

.sidebar .ant-form-item-control {
  line-height: 29px;
}

.sharing {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 2px 2px 2px 2px;
  padding: 2px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.9);
}

.popup\_inner {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin: 50;
  border-radius: 20px;
  background: white;
}
